In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel("C://Users//kamal//Desktop//Pro/Pro Delhi.xlsx")

In [4]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Delhi,2015-01-01,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0,Severe
1,Delhi,2015-01-02,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0,Severe
2,Delhi,2015-01-03,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0,Moderate
3,Delhi,2015-01-04,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor
4,Delhi,2015-01-05,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004,Delhi,2020-06-27,39.80,155.94,10.88,21.46,22.47,31.43,0.87,10.38,18.88,1.69,19.99,0.43,112.0,Moderate
2005,Delhi,2020-06-28,59.52,308.65,12.67,21.60,23.86,29.27,0.94,10.70,18.05,1.71,25.13,1.74,196.0,Moderate
2006,Delhi,2020-06-29,44.86,184.12,10.50,21.57,21.94,27.97,0.88,11.58,26.61,2.13,23.80,1.13,233.0,Poor
2007,Delhi,2020-06-30,39.80,91.98,5.99,17.96,15.44,28.48,0.84,10.51,37.29,1.57,16.37,0.49,114.0,Moderate
2008,Delhi,2020-07-01,54.01,128.66,6.33,21.05,16.81,29.06,0.97,11.15,29.73,2.03,23.57,0.65,101.0,Moderate

In [5]:
df=df.drop(["City","PM2.5","PM10","NO","NO2","NOx","NH3","CO","SO2","O3","Benzene","Toluene","Xylene"],axis=1)

In [6]:
df=df.drop("AQI_Bucket",axis=1)

In [7]:
df

           Date    AQI
0    2015-01-01  472.0
1    2015-01-02  454.0
2    2015-01-03  143.0
3    2015-01-04  319.0
4    2015-01-05  325.0
...         ...    ...
2004 2020-06-27  112.0
2005 2020-06-28  196.0
2006 2020-06-29  233.0
2007 2020-06-30  114.0
2008 2020-07-01  101.0

[2009 rows x 2 columns]

In [8]:
df["Date"].dtype

dtype('<M8[ns]')

In [9]:
df["Date"]=df["Date"].astype(str)

In [10]:
df["Date"].dtype

dtype('O')

In [11]:
df["DateTime"]=df["Date"].str[5:]

In [12]:
df

            Date    AQI DateTime
0     2015-01-01  472.0    01-01
1     2015-01-02  454.0    01-02
2     2015-01-03  143.0    01-03
3     2015-01-04  319.0    01-04
4     2015-01-05  325.0    01-05
...          ...    ...      ...
2004  2020-06-27  112.0    06-27
2005  2020-06-28  196.0    06-28
2006  2020-06-29  233.0    06-29
2007  2020-06-30  114.0    06-30
2008  2020-07-01  101.0    07-01

[2009 rows x 3 columns]

In [13]:
df["Date"]=df["Date"].str[5:]

In [14]:
df

       Date    AQI DateTime
0     01-01  472.0    01-01
1     01-02  454.0    01-02
2     01-03  143.0    01-03
3     01-04  319.0    01-04
4     01-05  325.0    01-05
...     ...    ...      ...
2004  06-27  112.0    06-27
2005  06-28  196.0    06-28
2006  06-29  233.0    06-29
2007  06-30  114.0    06-30
2008  07-01  101.0    07-01

[2009 rows x 3 columns]

In [15]:
df=df.drop("DateTime",axis=1)

In [16]:
df

       Date    AQI
0     01-01  472.0
1     01-02  454.0
2     01-03  143.0
3     01-04  319.0
4     01-05  325.0
...     ...    ...
2004  06-27  112.0
2005  06-28  196.0
2006  06-29  233.0
2007  06-30  114.0
2008  07-01  101.0

[2009 rows x 2 columns]

In [17]:
df["Date"]=df["Date"].str.replace('[-]','')

In [18]:
df

      Date    AQI
0     0101  472.0
1     0102  454.0
2     0103  143.0
3     0104  319.0
4     0105  325.0
...    ...    ...
2004  0627  112.0
2005  0628  196.0
2006  0629  233.0
2007  0630  114.0
2008  0701  101.0

[2009 rows x 2 columns]

In [19]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)

      Date    AQI
0     0101  472.0
1     0102  454.0
2     0103  143.0
3     0104  319.0
4     0105  325.0
5     0106  318.0
6     0107  353.0
7     0108  383.0
8     0109  375.0
9     0110  376.0
10    0111  379.0
11    0112  375.0
12    0113  366.0
13    0114  353.0
14    0115  340.0
15    0116  356.0
16    0117  360.0
17    0118  370.0
18    0119  362.0
19    0120  340.0
20    0121  338.0
21    0122  332.0
22    0123  254.0
23    0124  324.0
24    0125  333.0
25    0126  292.0
26    0127  318.0
27    0128  295.0
28    0129  327.0
29    0130  345.0
30    0131  334.0
31    0201  358.0
32    0202  349.0
33    0203  334.0
34    0204  313.0
35    0205  262.0
36    0206  303.0
37    0207  329.0
38    0208  323.0
39    0209  266.0
40    0210  319.0
41    0211  334.0
42    0212  342.0
43    0213  341.0
44    0214  377.0
45    0215  391.0
46    0216  358.0
47    0217  327.0
48    0218  365.0
49    0219  352.0
50    0220  317.0
51    0221  320.0
52    0222  279.0
53    0223  281.0
54    0224  354.0
55    0225  340.0
56    0226  323.0
57    0227  315.0
58    0228  310.0
59    0301  324.0
60    0302  226.0
61    0303  266.0
62    0304  200.0
63    0305  275.0
64    0306  322.0
65    0307  216.0
66    0308  108.0
67    0309  197.0
68    0310  238.0
69    0311  274.0
70    0312  315.0
71    0313  307.0
72    0314  208.0
73    0315  165.0
74    0316  188.0
75    0317  217.0
76    0318  191.0
77    0319  240.0
78    0320  229.0
79    0321  248.0
80    0322  204.0
81    0323  271.0
82    0324  290.0
83    0325  340.0
84    0326  358.0
85    0327  287.0
86    0328  323.0
87    0329  360.0
88    0330  268.0
89    0331  283.0
90    0401  309.0
91    0402  249.0
92    0403  245.0
93    0404  229.0
94    0405  234.0
95    0406  343.0
96    0407  262.0
97    0408  308.0
98    0409  293.0
99    0410  290.0
100   0411  375.0
101   0412  293.0
102   0413  247.0
103   0414  232.0
104   0415  316.0
105   0416  295.0
106   0417  246.0
107   0418  378.0
108   0419  406.0
109   0420  392.0
110   0421  391.0
111   0422  368.0
112   0423  365.0
113   0424  383.0
114   0425  367.0
115   0426  334.0
116   0427  258.0
117   0428  234.0
118   0429  257.0
119   0430  259.0
120   0501  279.0
121   0502  312.0
122   0503  372.0
123   0504  387.0
124   0505  408.0
125   0506  398.0
126   0507  403.0
127   0508  361.0
128   0509  378.0
129   0510  381.0
130   0511  388.0
131   0512  346.0
132   0513  328.0
133   0514  291.0
134   0515  396.0
135   0516  297.0
136   0517  345.0
137   0518  296.0
138   0519  319.0
139   0520  282.0
140   0521  352.0
141   0522  338.0
142   0523  321.0
143   0524  295.0
144   0525  344.0
145   0526  337.0
146   0527  355.0
147   0528  371.0
148   0529  414.0
149   0530  366.0
150   0531  346.0
151   0601  289.0
152   0602  297.0
153   0603  268.0
154   0604  259.0
155   0605  327.0
156   0606  384.0
157   0607  299.0
158   0608  282.0
159   0609  442.0
160   0610  309.0
161   0611  270.0
162   0612  239.0
163   0613  214.0
164   0614  166.0
165   0615  234.0
166   0616  331.0
167   0617  327.0
168   0618  313.0
169   0619  284.0
170   0620  239.0
171   0621  149.0
172   0622  172.0
173   0623  226.0
174   0624  261.0
175   0625  188.0
176   0626  192.0
177   0627  207.0
178   0628  219.0
179   0629  193.0
180   0630  170.0
181   0701  185.0
182   0702  220.0
183   0703  225.0
184   0704  250.0
185   0705  282.0
186   0706  298.0
187   0707  175.0
188   0708  217.0
189   0709  234.0
190   0710  188.0
191   0711  253.0
192   0712  198.0
193   0713  148.0
194   0714  141.0
195   0715  218.0
196   0716  268.0
197   0717  232.0
198   0718  204.0
199   0719  220.0
200   0720  223.0
201   0721  218.0
202   0722  165.0
203   0723  155.0
204   0724  154.0
205   0725  184.0
206   0726  150.0
207   0727  125.0
208   0728  160.0
209   0729  142.0
210   0730  181.0
211   0731  196.0
212   0801  181.0
213   0802  213.0
214   0803  175.0
215   0804  184.0
216   0805  228.0
217   0806  214.0
218   0807  254.0
219   0808  258.0
220   0809  244.0
221   0810  209.0
222   0811  283.0
223   0812  223.0
224   0813  205.0
225   0814  252.0
226   0815  198.0
227   0816  197.0
228   0817  184.0
229   0818  197.0
230   0819  140.0
231   0820  232.0
232   0821  271.0
233   0822  207.0
234   0823  127.0
235   0824  123.0
236   0825  175.0
237   0826  245.0
238   0827  248.0
239   0828  247.0
240   0829  292.0
241   0830  266.0
242   0831  288.0
243   0901  210.0
244   0902  298.0
245   0903  315.0
246   0904  368.0
247   0905  266.0
248   0906  174.0
249   0907  199.0
250   0908  217.0
251   0909  238.0
252   0910  230.0
253   0911  218.0
254   0912  226.0
255   0913  202.0
256   0914  274.0
257   0915  289.0
258   0916  235.0
259   0917  285.0
260   0918  209.0
261   0919  132.0
262   0920  179.0
263   0921  136.0
264   0922  104.0
265   0923   95.0
266   0924  175.0
267   0925  290.0
268   0926  282.0
269   0927  298.0
270   0928  240.0
271   0929  188.0
272   0930  187.0
273   1001  230.0
274   1002  286.0
275   1003  266.0
276   1004  369.0
277   1005  375.0
278   1006  411.0
279   1007  383.0
280   1008  388.0
281   1009  351.0
282   1010  320.0
283   1011  296.0
284   1012  312.0
285   1013  260.0
286   1014  204.0
287   1015  218.0
288   1016  356.0
289   1017  388.0
290   1018  298.0
291   1019  392.0
292   1020  428.0
293   1021  384.0
294   1022  292.0
295   1023  343.0
296   1024  383.0
297   1025  374.0
298   1026  263.0
299   1027  334.0
300   1028  333.0
301   1029  262.0
302   1030  236.0
303   1031  340.0
304   1101  415.0
305   1102  420.0
306   1103  407.0
307   1104  454.0
308   1105  388.0
309   1106  276.0
310   1107  483.0
311   1108  451.0
312   1109  378.0
313   1110  439.0
314   1111  431.0
315   1112  421.0
316   1113  454.0
317   1114  450.0
318   1115  367.0
319   1116  383.0
320   1117  347.0
321   1118  369.0
322   1119  392.0
323   1120  455.0
324   1121  450.0
325   1122  478.0
326   1123  431.0
327   1124  440.0
328   1125  376.0
329   1126  347.0
330   1127  343.0
331   1128  362.0
332   1129  319.0
333   1130  425.0
334   1201  400.0
335   1202  386.0
336   1203  385.0
337   1204  392.0
338   1205  428.0
339   1206  394.0
340   1207  440.0
341   1208  437.0
342   1209  431.0
343   1210  383.0
344   1211  377.0
345   1212  379.0
346   1213  333.0
347   1214  314.0
348   1215  174.0
349   1216  244.0
350   1217  308.0
351   1218  320.0
352   1219  270.0
353   1220  320.0
354   1221  313.0
355   1222  326.0
356   1223  459.0
357   1224  314.0
358   1225  304.0
359   1226  310.0
360   1227  370.0
361   1228  328.0
362   1229  331.0
363   1230  412.0
364   1231  433.0
365   0101  463.0
366   0102  465.0
367   0103  426.0
368   0104  496.0
369   0105  528.0
370   0106  538.0
371   0107  535.0
372   0108  603.0
373   0109  408.0
374   0110  368.0
375   0111  404.0
376   0112  444.0
377   0113  356.0
378   0114  397.0
379   0115  371.0
380   0116  311.0
381   0117  321.0
382   0118  424.0
383   0119  435.0
384   0120  455.0
385   0121  398.0
386   0122  399.0
387   0123  469.0
388   0124  488.0
389   0125  401.0
390   0126  446.0
391   0127  456.0
392   0128  451.0
393   0129  501.0
394   0130  505.0
395   0131  437.0
396   0201  305.0
397   0202  292.0
398   0203  306.0
399   0204  300.0
400   0205  371.0
401   0206  408.0
402   0207  343.0
403   0208  301.0
404   0209  322.0
405   0210  368.0
406   0211  349.0
407   0212  334.0
408   0213  333.0
409   0214  257.0
410   0215  265.0
411   0216  297.0
412   0217  289.0
413   0218  310.0
414   0219  366.0
415   0220  345.0
416   0221  228.0
417   0222  213.0
418   0223  208.0
419   0224  319.0
420   0225  315.0
421   0226  293.0
422   0227  342.0
423   0228  338.0
424   0229  344.0
425   0301  370.0
426   0302  365.0
427   0303  348.0
428   0304  312.0
429   0305  214.0
430   0306  165.0
431   0307  218.0
432   0308  230.0
433   0309  248.0
434   0310  276.0
435   0311  213.0
436   0312  127.0
437   0313  112.0
438   0314  111.0
439   0315  193.0
440   0316  123.0
441   0317  194.0
442   0318  186.0
443   0319  242.0
444   0320  267.0
445   0321  207.0
446   0322  176.0
447   0323  189.0
448   0324  341.0
449   0325  325.0
450   0326  259.0
451   0327  178.0
452   0328  219.0
453   0329  206.0
454   0330  221.0
455   0331  298.0
456   0401  316.0
457   0402  294.0
458   0403  314.0
459   0404  334.0
460   0405  261.0
461   0406  208.0
462   0407  289.0
463   0408  216.0
464   0409  314.0
465   0410  262.0
466   0411  257.0
467   0412  235.0
468   0413  239.0
469   0414  239.0
470   0415  302.0
471   0416  296.0
472   0417  247.0
473   0418  265.0
474   0419  301.0
475   0420  322.0
476   0421  291.0
477   0422  292.0
478   0423  258.0
479   0424  282.0
480   0425  271.0
481   0426  314.0
482   0427  377.0
483   0428  390.0
484   0429  392.0
485   0430  342.0
486   0501  297.0
487   0502  275.0
488   0503  281.0
489   0504  309.0
490   0505  262.0
491   0506  194.0
492   0507  229.0
493   0508  246.0
494   0509  225.0
495   0510  221.0
496   0511  185.0
497   0512  218.0
498   0513  310.0
499   0514  307.0
500   0515  325.0
501   0516  316.0
502   0517  302.0
503   0518  318.0
504   0519  300.0
505   0520  246.0
506   0521  255.0
507   0522  218.0
508   0523  252.0
509   0524  190.0
510   0525  256.0
511   0526  311.0
512   0527  381.0
513   0528  409.0
514   0529  269.0
515   0530  187.0
516   0531  225.0
517   0601  283.0
518   0602  316.0
519   0603  361.0
520   0604  330.0
521   0605  256.0
522   0606  237.0
523   0607  246.0
524   0608  202.0
525   0609  209.0
526   0610  262.0
527   0611  280.0
528   0612  279.0
529   0613  357.0
530   0614  266.0
531   0615  330.0
532   0616  248.0
533   0617  172.0
534   0618  234.0
535   0619  201.0
536   0620  206.0
537   0621  159.0
538   0622  187.0
539   0623  228.0
540   0624  284.0
541   0625  310.0
542   0626  158.0
543   0627  154.0
544   0628  187.0
545   0629  180.0
546   0630  190.0
547   0701  164.0
548   0702  148.0
549   0703  154.0
550   0704  160.0
551   0705  165.0
552   0706  210.0
553   0707  158.0
554   0708  172.0
555   0709  151.0
556   0710  143.0
557   0711  156.0
558   0712  108.0
559   0713  163.0
560   0714  247.0
561   0715  123.0
562   0716  106.0
563   0717  202.0
564   0718  120.0
565   0719  135.0
566   0720  245.0
567   0721  280.0
568   0722  269.0
569   0723  163.0
570   0724    NaN
571   0725  195.0
572   0726  163.0
573   0727  108.0
574   0728  134.0
575   0729  155.0
576   0730  116.0
577   0731  136.0
578   0801  150.0
579   0802  121.0
580   0803  149.0
581   0804  178.0
582   0805  120.0
583   0806  140.0
584   0807  142.0
585   0808  141.0
586   0809  125.0
587   0810  127.0
588   0811  119.0
589   0812  111.0
590   0813  132.0
591   0814  149.0
592   0815  166.0
593   0816  274.0
594   0817  295.0
595   0818  219.0
596   0819  169.0
597   0820  174.0
598   0821  111.0
599   0822   93.0
600   0823  107.0
601   0824  127.0
602   0825   93.0
603   0826  142.0
604   0827   93.0
605   0828  224.0
606   0829  169.0
607   0830  110.0
608   0831  100.0
609   0901  109.0
610   0902  154.0
611   0903  216.0
612   0904  262.0
613   0905  260.0
614   0906  329.0
615   0907  291.0
616   0908  300.0
617   0909  335.0
618   0910  240.0
619   0911  177.0
620   0912  178.0
621   0913  193.0
622   0914  150.0
623   0915  215.0
624   0916  233.0
625   0917  220.0
626   0918  266.0
627   0919  192.0
628   0920  264.0
629   0921  284.0
630   0922  150.0
631   0923  134.0
632   0924  197.0
633   0925  175.0
634   0926  236.0
635   0927  185.0
636   0928  103.0
637   0929  289.0
638   0930  224.0
639   1001  312.0
640   1002  234.0
641   1003  282.0
642   1004  351.0
643   1005  232.0
644   1006  280.0
645   1007  311.0
646   1008  408.0
647   1009  416.0
648   1010  387.0
649   1011  408.0
650   1012  405.0
651   1013  371.0
652   1014  375.0
653   1015  400.0
654   1016  430.0
655   1017  425.0
656   1018  438.0
657   1019  428.0
658   1020  425.0
659   1021  496.0
660   1022  472.0
661   1023  470.0
662   1024  454.0
663   1025  396.0
664   1026  413.0
665   1027  558.0
666   1028  570.0
667   1029  554.0
668   1030  522.0
669   1031  520.0
670   1101  550.0
671   1102  593.0
672   1103  625.0
673   1104  480.0
674   1105  603.0
675   1106  676.0
676   1107  716.0
677   1108  542.0
678   1109  455.0
679   1110  471.0
680   1111  514.0
681   1112  491.0
682   1113  469.0
683   1114  404.0
684   1115  379.0
685   1116  428.0
686   1117  504.0
687   1118  512.0
688   1119  494.0
689   1120  438.0
690   1121  474.0
691   1122  471.0
692   1123  432.0
693   1124  397.0
694   1125  375.0
695   1126  330.0
696   1127  347.0
697   1128  274.0
698   1129  360.0
699   1130  441.0
700   1201  418.0
701   1202  474.0
702   1203  419.0
703   1204  379.0
704   1205  389.0
705   1206  402.0
706   1207  472.0
707   1208  422.0
708   1209  443.0
709   1210  413.0
710   1211  351.0
711   1212  418.0
712   1213  413.0
713   1214  379.0
714   1215  359.0
715   1216  390.0
716   1217  437.0
717   1218  411.0
718   1219  443.0
719   1220  377.0
720   1221  317.0
721   1222  349.0
722   1223  470.0
723   1224  576.0
724   1225  412.0
725   1226  338.0
726   1227  319.0
727   1228  455.0
728   1229  524.0
729   1230  381.0
730   1231  338.0
731   0101  332.0
732   0102  384.0
733   0103  373.0
734   0104  439.0
735   0105  318.0
736   0106  390.0
737   0107  332.0
738   0108  283.0
739   0109  300.0
740   0110  305.0
741   0111  337.0
742   0112  417.0
743   0113  426.0
744   0114  439.0
745   0115  382.0
746   0116  397.0
747   0117  330.0
748   0118  358.0
749   0119  376.0
750   0120  334.0
751   0121  387.0
752   0122  446.0
753   0123  379.0
754   0124  375.0
755   0125  450.0
756   0126  340.0
757   0127  203.0
758   0128  236.0
759   0129  252.0
760   0130  302.0
761   0131  358.0
762   0201  317.0
763   0202  387.0
764   0203  438.0
765   0204  407.0
766   0205  312.0
767   0206  367.0
768   0207  263.0
769   0208  287.0
770   0209  346.0
771   0210  314.0
772   0211  314.0
773   0212  314.0
774   0213  298.0
775   0214  319.0
776   0215  382.0
777   0216  352.0
778   0217  309.0
779   0218  301.0
780   0219  274.0
781   0220  313.0
782   0221  310.0
783   0222  258.0
784   0223  238.0
785   0224  449.0
786   0225  516.0
787   0226  520.0
788   0227  363.0
789   0228  362.0
790   0301  397.0
791   0302  280.0
792   0303  206.0
793   0304  190.0
794   0305  210.0
795   0306  201.0
796   0307  243.0
797   0308  267.0
798   0309  245.0
799   0310  165.0
800   0311  102.0
801   0312  159.0
802   0313  174.0
803   0314  270.0
804   0315  397.0
805   0316  371.0
806   0317  328.0
807   0318  254.0
808   0319  342.0
809   0320  367.0
810   0321  400.0
811   0322  390.0
812   0323  417.0
813   0324  359.0
814   0325  309.0
815   0326  292.0
816   0327  278.0
817   0328  320.0
818   0329  350.0
819   0330  234.0
820   0331  233.0
821   0401  341.0
822   0402  259.0
823   0403  204.0
824   0404  220.0
825   0405  255.0
826   0406  211.0
827   0407  428.0
828   0408  497.0
829   0409  289.0
830   0410  285.0
831   0411  368.0
832   0412  304.0
833   0413  377.0
834   0414  418.0
835   0415  355.0
836   0416  416.0
837   0417  403.0
838   0418  415.0
839   0419  412.0
840   0420  394.0
841   0421  357.0
842   0422  291.0
843   0423  244.0
844   0424  287.0
845   0425  254.0
846   0426  242.0
847   0427  223.0
848   0428  243.0
849   0429  237.0
850   0430  275.0
851   0501  183.0
852   0502  370.0
853   0503  419.0
854   0504  317.0
855   0505  455.0
856   0506  435.0
857   0507  468.0
858   0508  442.0
859   0509  400.0
860   0510  223.0
861   0511  220.0
862   0512  474.0
863   0513  479.0
864   0514  373.0
865   0515  354.0
866   0516  349.0
867   0517  264.0
868   0518  188.0
869   0519  294.0
870   0520  334.0
871   0521  505.0
872   0522  349.0
873   0523  421.0
874   0524  238.0
875   0525  204.0
876   0526  289.0
877   0527  236.0
878   0528  148.0
879   0529   94.0
880   0530  130.0
881   0531  123.0
882   0601  192.0
883   0602  324.0
884   0603  357.0
885   0604  393.0
886   0605  302.0
887   0606  239.0
888   0607  210.0
889   0608   77.0
890   0609   89.0
891   0610  143.0
892   0611   80.0
893   0612   92.0
894   0613  112.0
895   0614  117.0
896   0615  101.0
897   0616  106.0
898   0617   88.0
899   0618   94.0
900   0619  150.0
901   0620   97.0
902   0621  109.0
903   0622  124.0
904   0623    NaN
905   0624  111.0
906   0625  148.0
907   0626  108.0
908   0627   73.0
909   0628   58.0
910   0629   58.0
911   0630   46.0
912   0701   84.0
913   0702   54.0
914   0703   49.0
915   0704  149.0
916   0705  212.0
917   0706   85.0
918   0707   77.0
919   0708   65.0
920   0709  108.0
921   0710   78.0
922   0711   59.0
923   0712   47.0
924   0713   39.0
925   0714   40.0
926   0715   56.0
927   0716   65.0
928   0717   71.0
929   0718   97.0
930   0719  118.0
931   0720  116.0
932   0721   53.0
933   0722   30.0
934   0723   37.0
935   0724   35.0
936   0725   37.0
937   0726   32.0
938   0727   41.0
939   0728   42.0
940   0729   47.0
941   0730   30.0
942   0731   29.0
943   0801   44.0
944   0802   40.0
945   0803   49.0
946   0804   50.0
947   0805   88.0
948   0806   99.0
949   0807  110.0
950   0808   68.0
951   0809   73.0
952   0810   95.0
953   0811   58.0
954   0812   45.0
955   0813    NaN
956   0814    NaN
957   0815   59.0
958   0816   53.0
959   0817   66.0
960   0818   70.0
961   0819   70.0
962   0820   63.0
963   0821   42.0
964   0822    NaN
965   0823    NaN
966   0824   58.0
967   0825  104.0
968   0826    NaN
969   0827    NaN
970   0828    NaN
971   0829    NaN
972   0830   73.0
973   0831   94.0
974   0901   91.0
975   0902   88.0
976   0903   88.0
977   0904   89.0
978   0905   88.0
979   0906   88.0
980   0907   88.0
981   0908  106.0
982   0909   96.0
983   0910  118.0
984   0911  119.0
985   0912  106.0
986   0913  115.0
987   0914  142.0
988   0915  169.0
989   0916  110.0
990   0917  106.0
991   0918   99.0
992   0919  109.0
993   0920  137.0
994   0921  144.0
995   0922   92.0
996   0923   83.0
997   0924   84.0
998   0925  104.0
999   0926  131.0
1000  0927  165.0
1001  0928  176.0
1002  0929  172.0
1003  0930  137.0
1004  1001  131.0
1005  1002  132.0
1006  1003  115.0
1007  1004  151.0
1008  1005  180.0
1009  1006  183.0
1010  1007  193.0
1011  1008  224.0
1012  1009  268.0
1013  1010  253.0
1014  1011  208.0
1015  1012  211.0
1016  1013  246.0
1017  1014  319.0
1018  1015  317.0
1019  1016  310.0
1020  1017  313.0
1021  1018  310.0
1022  1019  336.0
1023  1020  497.0
1024  1021  404.0
1025  1022  338.0
1026  1023  327.0
1027  1024  366.0
1028  1025  357.0
1029  1026  328.0
1030  1027  345.0
1031  1028  379.0
1032  1029  362.0
1033  1030  340.0
1034  1031  366.0
1035  1101  344.0
1036  1102  305.0
1037  1103  310.0
1038  1104  345.0
1039  1105  370.0
1040  1106  377.0
1041  1107  532.0
1042  1108  675.0
1043  1109  677.0
1044  1110  597.0
1045  1111  471.0
1046  1112  613.0
1047  1113  561.0
1048  1114  444.0
1049  1115  378.0
1050  1116  357.0
1051  1117  330.0
1052  1118  309.0
1053  1119  297.0
1054  1120  329.0
1055  1121  341.0
1056  1122  348.0
1057  1123  340.0
1058  1124  348.0
1059  1125  347.0
1060  1126  368.0
1061  1127  382.0
1062  1128  360.0
1063  1129  359.0
1064  1130  388.0
1065  1201  377.0
1066  1202  356.0
1067  1203  384.0
1068  1204  415.0
1069  1205  404.0
1070  1206  330.0
1071  1207  215.0
1072  1208  220.0
1073  1209  312.0
1074  1210  389.0
1075  1211  406.0
1076  1212  280.0
1077  1213  263.0
1078  1214  276.0
1079  1215  292.0
1080  1216  228.0
1081  1217  195.0
1082  1218  223.0
1083  1219  291.0
1084  1220  378.0
1085  1221  467.0
1086  1222  370.0
1087  1223  253.0
1088  1224  309.0
1089  1225  398.0
1090  1226  372.0
1091  1227  379.0
1092  1228  398.0
1093  1229  399.0
1094  1230  421.0
1095  1231  451.0
1096  0101  462.0
1097  0102  439.0
1098  0103  405.0
1099  0104  394.0
1100  0105  398.0
1101  0106  403.0
1102  0107  384.0
1103  0108  314.0
1104  0109  373.0
1105  0110  366.0
1106  0111  318.0
1107  0112  306.0
1108  0113  370.0
1109  0114  365.0

In [20]:
df.isna().sum()

Date     0
AQI     10
dtype: int64

In [21]:
df.dropna(inplace=True)

In [22]:
df["Date"]=df["Date"].astype(int)

In [23]:
df["Date"].dtype

dtype('int32')

In [24]:
df["AQI"].dtype

dtype('float64')

In [25]:
np.random.seed(7)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [26]:
df

      Date    AQI
0      101  472.0
1      102  454.0
2      103  143.0
3      104  319.0
4      105  325.0
...    ...    ...
2004   627  112.0
2005   628  196.0
2006   629  233.0
2007   630  114.0
2008   701  101.0

[1999 rows x 2 columns]

In [27]:
X=df.drop("AQI",axis=1)

In [28]:
y=df["AQI"]

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [30]:
model=RandomForestRegressor()

In [31]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [32]:
model.score(X_train,y_train)

0.6285491828551453

In [33]:
model.score(X_test,y_test)

0.39277664464405126

In [34]:
model.predict([[918]])

array([167.3376627])

In [35]:
#https://docs.google.com/spreadsheets/d/1-bJGRC_dkE4ft1SiTyPPHxQV1-PUeSajgZhf0ZMweU4/edit#gid=0

In [37]:
sheet_id="1-bJGRC_dkE4ft1SiTyPPHxQV1-PUeSajgZhf0ZMweU4"
xls=(f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=xlsx")
pf=pd.read_excel(xls,"Sheet1")

In [38]:
pf

     Date
0     918
1     919
2     920
3     921
4     922
..    ...
100  1227
101  1228
102  1229
103  1230
104  1231

[105 rows x 1 columns]

In [40]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(pf)

     Date
0     918
1     919
2     920
3     921
4     922
5     923
6     924
7     925
8     926
9     927
10    928
11    929
12    930
13   1001
14   1002
15   1003
16   1004
17   1005
18   1006
19   1007
20   1008
21   1009
22   1010
23   1011
24   1012
25   1013
26   1014
27   1015
28   1016
29   1017
30   1018
31   1019
32   1020
33   1021
34   1022
35   1023
36   1024
37   1025
38   1026
39   1027
40   1028
41   1029
42   1030
43   1031
44   1101
45   1102
46   1103
47   1104
48   1105
49   1106
50   1107
51   1108
52   1109
53   1110
54   1111
55   1112
56   1113
57   1114
58   1115
59   1116
60   1117
61   1118
62   1119
63   1120
64   1121
65   1122
66   1123
67   1124
68   1125
69   1126
70   1127
71   1128
72   1129
73   1130
74   1201
75   1202
76   1203
77   1204
78   1205
79   1206
80   1207
81   1208
82   1209
83   1210
84   1211
85   1212
86   1213
87   1214
88   1215
89   1216
90   1217
91   1218
92   1219
93   1220
94   1221
95   1222
96   1223
97   1224
98   1225
99   1226
100  1227
101  1228
102  1229
103  1230
104  1231

In [41]:
z=model.predict(pf)

In [42]:
bg=pd.DataFrame(z)

In [43]:
bg

              0
0    167.337663
1    135.263893
2    177.043001
3    175.399694
4    100.969405
..          ...
100  384.285881
101  420.318198
102  425.168690
103  431.624667
104  418.995234

[105 rows x 1 columns]

In [44]:
print(bg.to_string(index=False))

          0
 167.337663
 135.263893
 177.043001
 175.399694
 100.969405
  96.521513
 139.130968
 143.127886
 166.665414
 180.306464
 174.430571
 199.006361
 183.221524
 155.932444
 187.298033
 178.142488
 279.043540
 224.869258
 206.117877
 266.900524
 273.015587
 315.979127
 284.371323
 270.137329
 203.242111
 281.965059
 251.550333
 316.816833
 328.552190
 379.058595
 333.872249
 327.694587
 375.621036
 377.491402
 332.070587
 344.938274
 374.842132
 363.990607
 360.722377
 365.843655
 420.311548
 349.410655
 384.362857
 418.910865
 475.530282
 432.799246
 467.927944
 404.281167
 435.060698
 345.688500
 510.096131
 498.467056
 479.909913
 463.226103
 450.584172
 483.459010
 476.478699
 440.972948
 396.107571
 401.503964
 350.980066
 344.766034
 324.802218
 379.066476
 393.682353
 405.508310
 390.996960
 365.513246
 310.962607
 347.951885
 374.080048
 290.362273
 299.580500
 357.142881
 356.475665
 371.223694
 369.315531
 362.305381
 397.054167
 374.119063
 321.415190
 334.498310
 372.877917
 399.513840
 407.788583
 402.701079
 320.587524
 280.061465
 264.891365
 263.788556
 282.789798
 317.502897
 284.933167
 380.384500
 396.383599
 351.029377
 452.436973
 399.512342
 417.776922
 355.230504
 384.285881
 420.318198
 425.168690
 431.624667
 418.995234

In [45]:
model.predict([[918]])

array([167.3376627])